{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block auth_content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card border-secondary">
            <div class="card-body p-4">
                <h4 class="card-title text-center mb-4">Daftar Akun</h4>
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Masukkan Token!</label>
                        <input type="password" name="token" class="form-control" required>
                        <div class="form-text">Token Admin</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Daftar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}